h1,
h2,
h3,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header,
link:hover,
link:focus {
  color: #212121;
}
#header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  margin-right: 76px;
}
.header-note {
  color: #2e2f42;
}
.nav-menu {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  color: #404bbf;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-studio:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: #404bbf;
  left: 0;
}
.address-header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
.address-link {
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  color: #404bbf;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.first-section {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0 188px;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}
.main-page-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  display: block;
  padding: 16px 32px;
  margin: 48px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-page-btn:hover {
  background-color: #404bbf;
}
.main-page-btn:focus {
  background-color: #404bbf;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.second-section {
  padding: 120px 0;
}
.sec-sect-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-list {
  width: calc((100% - 72px) / 4);
}

.title-descr {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.staff {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subtitle-team {
  margin-bottom: 72px;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.position {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.name-position {
  padding: 32px 0;
}
.media-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.media-icons {
  width: 40px;
  height: 40px;
}
.svg {
  fill: #f4f4fd;
}
.media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}
.forth-section {
  padding: 120px 0;
}

.subtitle-portfolio {
  margin-bottom: 72px;
}
.portfolio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.item-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .overlay-text {
  transform: translateY(0%);
}

#footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-note {
  color: #f4f4fd;
}
.logo-cont {
  margin-right: 120px;
}
.footer-media-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-media-icons-list {
  display: flex;
  gap: 16px;
}
.footer-media-icons {
  width: 40px;
  height: 40px;
}
.footer-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
  fill: #f4f4fd;
}
.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
